@model OXG.CRM_System.ViewModels.AdminIndexVM
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/Chart.min.js"></script>
<h1>Admin/Index</h1>
<div style="margin:1%">
    <div class="row">
        <div class="col-lg-4">
            <a asp-action="Employeers" class="btn btn-outline-info btn-block">Сотрудники</a>
            <a class="btn btn-outline-info btn-block">Уведомления</a>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-outline-info btn-block">Услуги</a>
            <a class="btn btn-outline-info btn-block">Заявки</a>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-outline-info btn-block">Мероприятия</a>
            <a class="btn btn-outline-info btn-block">Задачи</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-primary">
                <div class="container-fluid">
                    <canvas id="eventSumChart" @*width="420" height="220"*@></canvas> @*График доходов 2 месяцв, линейный, 30 дней*@
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-primary">
                
                <div class="container-fluid">
                    <canvas id="requestCloseTypesChart"></canvas> @*График причин отклонения заявок, столбы, всё время*@
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-primary">
                
                <div class="container-fluid">
                    <canvas id="numWorkPopularChart"></canvas> @*График популярности различных услуг, столбы, 30 дней или всё время*@
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-primary">
                <h3 align="center">Типы мероприятий</h3>
                <div class="container-fluid">
                    <canvas id="eventTypesChart"></canvas> @*График типов мероприятий, круговой, всё время*@
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-primary">
                <h3 align="center">Одобренные заявки</h3>
                <div class="container-fluid">
                    <canvas id="ManagerGoodRequestChart" ></canvas> @*График одобренных заявок менеджеров, круговой, 30 дней или всё время*@
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var labls =@Json.Serialize(Model.Last30Days);
    var datas =@Json.Serialize(Model.EventsSum);
    var rejectCauses =@Json.Serialize(Model.RejectCauses2);
    var rejectNums =@Json.Serialize(Model.RejectNum);
    var worksName = @Json.Serialize(Model.WorksName);
    var worksCount = @Json.Serialize(Model.WorksNum);
    var typesName = @Json.Serialize(Model.TypesName);
    var typesCount = @Json.Serialize(Model.TypesCount);
    var managersName = @Json.Serialize(Model.ManagerName);
    var requestCount = @Json.Serialize(Model.ManagerRequestCount);


    var ctx = document.getElementById("eventSumChart");
    var ct2 = document.getElementById("requestCloseTypesChart");
    var ct3 = document.getElementById("numWorkPopularChart");
    var ct4 = document.getElementById("eventTypesChart");
    var ct5 = document.getElementById("ManagerGoodRequestChart");


                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                    labels:labls,
                    datasets: [{
                        label: 'Сумма заказов (₽)',
                        data: datas,
                        backgroundColor: [
                    '       rgba(0, 157, 255, 0.2)'
                        ],
                    borderColor: [
                             'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                        }]
                        },
                    options: {
                        scales: {
                        yAxes: [{
                         ticks: {
                        beginAtZero: true
                            }
                        }]
                        }
                        }
                    });

        var barChart = new Chart(ct2, {
  type: 'bar',
            data: {
                labels: rejectCauses,
                datasets: [{
                    label: 'Причины отклонения заявок',
        data: rejectNums,
      backgroundColor: [
          'rgba(0, 99, 132, 0.6)',
          'rgba(0, 99, 132, 0.6)',
          'rgba(30, 99, 132, 0.6)',
          'rgba(30, 99, 132, 0.6)',
          'rgba(60, 99, 132, 0.6)',
          'rgba(60, 99, 132, 0.6)',
          'rgba(90, 99, 132, 0.6)',
          'rgba(90, 99, 132, 0.6)',
          'rgba(120, 99, 132, 0.6)',
          'rgba(120, 99, 132, 0.6)',
          'rgba(150, 99, 132, 0.6)',
          'rgba(150, 99, 132, 0.6)',
          'rgba(180, 99, 132, 0.6)',
          'rgba(180, 99, 132, 0.6)',
          'rgba(210, 99, 132, 0.6)',
          'rgba(210, 99, 132, 0.6)',
          'rgba(240, 99, 132, 0.6)',
          'rgba(240, 99, 132, 0.6)'
  ],
  borderColor: [
    'rgba(0, 99, 132, 1)',
          'rgba(0, 99, 132, 1)',
          'rgba(30, 99, 132, 1)',
          'rgba(30, 99, 132, 1)',
          'rgba(60, 99, 132, 1)',
          'rgba(60, 99, 132, 1)',
          'rgba(90, 99, 132, 1)',
          'rgba(90, 99, 132, 1)',
          'rgba(120, 99, 132, 1)',
          'rgba(120, 99, 132, 1)',
          'rgba(150, 99, 132, 1)',
          'rgba(150, 99, 132, 1)',
          'rgba(180, 99, 132, 1)',
          'rgba(180, 99, 132, 1)',
          'rgba(210, 99, 132, 1)',
          'rgba(210, 99, 132, 1)',
          'rgba(240, 99, 132, 1)',
          'rgba(240, 99, 132, 1)'
  ],
  borderWidth: 2,
  hoverBorderWidth: 0
    }]
  }
});

    var barChart3 = new Chart(ct3, {
  type: 'bar',
        data: {
            labels: worksName,
    datasets: [{
        label: 'Популярность услуг',
        data: worksCount,
      backgroundColor: [
          'rgba(0, 99, 132, 0.6)',
          'rgba(0, 99, 132, 0.6)',
          'rgba(30, 99, 132, 0.6)',
          'rgba(30, 99, 132, 0.6)',
          'rgba(60, 99, 132, 0.6)',
          'rgba(60, 99, 132, 0.6)',
          'rgba(90, 99, 132, 0.6)',
          'rgba(90, 99, 132, 0.6)',
          'rgba(120, 99, 132, 0.6)',
          'rgba(120, 99, 132, 0.6)',
          'rgba(150, 99, 132, 0.6)',
          'rgba(150, 99, 132, 0.6)',
          'rgba(180, 99, 132, 0.6)',
          'rgba(180, 99, 132, 0.6)',
          'rgba(210, 99, 132, 0.6)',
          'rgba(210, 99, 132, 0.6)',
          'rgba(240, 99, 132, 0.6)',
          'rgba(240, 99, 132, 0.6)'
  ],
  borderColor: [
    'rgba(0, 99, 132, 1)',
          'rgba(0, 99, 132, 1)',
          'rgba(30, 99, 132, 1)',
          'rgba(30, 99, 132, 1)',
          'rgba(60, 99, 132, 1)',
          'rgba(60, 99, 132, 1)',
          'rgba(90, 99, 132, 1)',
          'rgba(90, 99, 132, 1)',
          'rgba(120, 99, 132, 1)',
          'rgba(120, 99, 132, 1)',
          'rgba(150, 99, 132, 1)',
          'rgba(150, 99, 132, 1)',
          'rgba(180, 99, 132, 1)',
          'rgba(180, 99, 132, 1)',
          'rgba(210, 99, 132, 1)',
          'rgba(210, 99, 132, 1)',
          'rgba(240, 99, 132, 1)',
          'rgba(240, 99, 132, 1)'
  ],
  borderWidth: 2,
  hoverBorderWidth: 0
    }]
  }
    });

    var roundChart = new Chart(ct4, {
    type: 'pie',
    data: {
        labels: typesName,
    datasets: [{
        label: 'Типы мероприятий',
        data: typesCount,
      backgroundColor: [
                "#FF6384",
                "#63FF84",
                "#84FF63",
                "#8463FF",
                "#6384FF",
                "#FF6384",
                "#63FF84",
                "#84FF63",
                "#8463FF",
                "#6384FF"
        ],
    }]
        },
        options: {cutoutPercentage: 40}
    });

    var roundChart2 = new Chart(ct5, {
    type: 'pie',
        data: {
            labels: managersName,
    datasets: [{
        label: 'Одобренные заявки',
        data: requestCount,
      backgroundColor: [
          "#84FF63",
          "#6384FF",
          "#FF6384",
          "#84FF63",
          "#8463FF",
          "#6384FF",
          "#63FF84",
          "#FF6384",
          "#63FF84",
          "#8463FF"
                
        ],
    }]
        },
        options: {cutoutPercentage: 40}
    });
</script>

<script>
    var container = document.getElementById('LayoutContainer')
    container.classList.remove('container')
</script>