<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown" style="margin-left:25px">
                    <img src="~/images/loadGif.gif" alt="Нет фото" class="img-fluid figure-img rounded-circle dropdown-toggle-split" width="70" height="70" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="UserPhoto" style="margin:1px" />
                    <div align="left" class="dropdown-menu">
                        @if (User.IsInRole("Администратор"))
                        {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Admin">Администрирование</a>
                            <h6 class="dropdown-item" data-toggle="modal" data-target="#NoticesModal" id="notices">Уведомления <span class="badge bg-danger badge-pill" id="noticeNum">0</span></h6>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Roles">Управление ролями</a>
                        }

                        @if (User.IsInRole("Менеджер"))
                        {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Manager">Рабочая зона</a>
                            <h6 class="dropdown-item" data-toggle="modal" data-target="#NoticesModal" id="notices">Уведомления <span class="badge bg-danger badge-pill" id="noticeNum">0</span></h6>
                            <a class="dropdown-item" asp-action="Personal" asp-controller="Manager">Мой аккаунт</a>
                        }

                        @if (User.IsInRole("Техник"))
                        {
                            <a class="dropdown-item" asp-action="Index" asp-controller="Technic">Рабочая зона</a>
                            <h6 class="dropdown-item" data-toggle="modal" data-target="#NoticesModal" id="notices">Уведомления <span class="badge bg-danger badge-pill" id="noticeNum">0</span></h6>
                            <a class="dropdown-item" asp-action="Personal" asp-controller="Technic">Мой аккаунт</a>
                        }
                        <div class="dropdown-divider"></div>
                        <a class=" dropdown-item" asp-action="Logout" asp-controller="Account">Выход</a>
                    </div>
                </div>
            }
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="text-white nav-link " asp-action="Register" asp-controller="Account">Регистрация</a><br />
                <a class="text-white nav-link " asp-action="Login" asp-controller="Account">Вход</a>
            }
        </nav>
    </header>

    <div class="container" id="LayoutContainer">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>!</strong> @ViewBag.Message.
            </div>
        }
        @if (ViewBag.BadMessage != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Проблемы:</strong> @ViewBag.BadMessage.
            </div>
        }
        @if (ViewBag.WarningMessage != null)
        {
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Обратите внимание:</strong> @ViewBag.WarningMessage.
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OXG.CRM-System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    <!-- Скрипт удаления атрибутов readonly-->
    <script>
        $('#editButton').click(function () {
            $("#Nstatic").removeAttr("readonly");
            $("#Nstatic1").removeAttr("readonly");
            $("#Nstatic2").removeAttr("readonly");
            $("#Nstatic3").removeAttr("readonly");
            $("#Nstatic4").removeAttr("readonly");
            $("#saveButton").removeAttr("hidden");
            $("#editButton").attr("hidden", "");
        });
    </script>
    <!-- Скрипт подгрузки фото и уведомлений -->
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
        var jqxhr = $.get("/api/AJAX/GetUserPhoto?name=" +'@User.Identity.Name.ToString()');
        jqxhr.done(function (data) {
            $('#UserPhoto').attr("src", jqxhr.responseText);
        });

        var jqxh = $.get("/api/AJAX/GetNoticesNum?name=" + '@User.Identity.Name.ToString()');
            jqxh.done(function (data) {
                $('#noticeNum').html(jqxh.responseText);
        });

            $(function () {
                $('#ViewedBtn').bind('click', function (e) {
                    $.get("/api/AJAX/SetViewed?name=" + '@User.Identity.Name.ToString()');
                    $('#modalNotices').html('');
                    $('#noticeNum').html(0);
                });
            });

            $(function () {
                $('#notices').bind('click', function (e) {
                    $.getJSON("/api/AJAX/GetNotices?name=" + '@User.Identity.Name.ToString()', function (data) {
                        $('#modalNotices').html('');
                        for (var i in data) {
                            var notice = data[i];
                            $('#loadImg').hide();
                            $('#modalNotices').append('<div class="row"><div class="col-12" align="center"><div class="toast show" align="left" role="alert" aria-live="assertive" aria-atomic="true" style="width:inherit"><div class="toast-header"><strong class="mr-auto">' + notice.employeerName + '</strong><small>' + notice.agoTime + '</small></div><div class="toast-body">' + notice.text + ' по <bold><a href=/Sight/Mission?id=' + notice.missionId + ' > задаче</a></bold> ' + '</div></div></div></div><br/>');
                        }
                        if (data.length === 0) {
                            $('#loadImg').hide();
                        }
                    });
                });
            });
        </script>
    }
    <!-- Модальное окно уведомлений -->
    <div class="modal fade" id="NoticesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Уведомления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalNotices">
                    <img src="~/images/loadGif2.gif" alt="Alternate Text" class="img-fluid" id="loadImg" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="ViewedBtn">Просмотрено</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>