@model OXG.CRM_System.Models.Employeers.Manager
@{
    ViewData["Title"] = "Index";
}

    <style>
        #line_block {
            float: left;
            margin: 0 15px 15px 0;
            padding: 10px;
        }
    </style>


<div class="row">
    <div class=" col-lg-6">
        <a asp-action="New" asp-controller="Events" type="button" class="btn btn-success btn-lg btn-block">Создать мероприятие</a>
        <div class="card border-success mb-3 ">
            <div class="card-header">События</div>
            <div class="card-body table-responsive" style="height:400px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Наименование</th>
                            <th scope="col">Дата проведения</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Клиент</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Events != null && Model.Clients != null)
                        {
                            @foreach (var item in Model.Events)
                            {
                                <tr>
                                    <th scope="row"><a asp-action="View" asp-controller="Events" asp-route-id="@item.Id">@item.Name</a></th>
                                    <td>@item.DeadLine.ToLongDateString()</td>
                                    <td>@item.Status</td>
                                    <td><a asp-action="View" asp-controller="Clients" asp-route-id="@item.Client.Id">@item.Client.Name</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <a asp-action="New" asp-controller="Mission" type="button" class="btn btn-info btn-lg btn-block">Создать заявку</a>
        <div class="card border-info mb-3 ">
            <div class="card-header">Заявки</div>
            <div class="card-body table-responsive" style="height:400px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><img src="~/images/icons/Help.png" alt="type" width="25" height="25" /></th>
                            <th scope="col">Описание</th>
                            <th scope="col">Дедлайн</th>
                            <th scope="col">Закрыть</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Missions != null)
                        {
                            @foreach (var item in Model.Missions)
                            {
                                @if (item.Status != "Закрыто" && item.MissionType == "Заявка")
                                {

                                    <tr>
                                        <td><img src="@item.Picture" alt="type" width="25" height="25" /></td>
                                        <td>@Html.Raw(item.MissionText)</td>
                                        <td>@item.DeadLine.ToShortDateString(), @item.DeadLine.ToShortTimeString()</td>
                                        <td><a asp-action="Close" asp-controller="Mission" asp-route-id="@item.Id">Закрыть</a></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left: 1%; ">
        @foreach (var item in Model.Missions)
        {
            if (item.MissionType != "Заявка" && item.Status != "Закрыто")
            {
                <div class="card border-info mb-3" style="max-width: 20rem;" title="@item.Status" id="line_block">
                    <div class="card-header"><img src="@item.Picture" alt="type" width="28" height="28" /> </div>
                    <div class="card-body">
                        <h4 class="card-title">@item.MissionType</h4>
                        <p class="card-text">@item.MissionText, Времени на выполнение осталось: <strong>@item.LeftTime.Hours часов @item.LeftTime.Minutes минут</strong> </p>
                        <div><a class="btn btn-outline-secondary" asp-action="Close" asp-controller="Mission" asp-route-id="@item.Id">Выполнить</a></div>
                    </div>
                </div>
            }
        }
</div>
 
<script>
    var container = document.getElementById('LayoutContainer')
    container.classList.remove('container')
</script>

<script>
    onload = function () { setTimeout('location.reload (true)', 60000) }
</script>

